.update-search{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}
.update-title-section{
  text-align: center;
  width: 100%;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  background-color: #FEF9C7;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh
}
.update-title-section{
  text-align: center;
  width: 100%;
}
.update-title {
  width: 100%;
  padding: 1vh;
	position: relative;
	font: 8vh Didact Gothic, Sans-Serif;
	color: black;

}


.update-title-description{
  font-size: 3vh;
  line-height: 3.2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.update-content{
  justify-content: center;
}
.update-button{
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Didact Gothic';
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  font-size: 3vh;
  border-radius: 5px;
  border-width: thin;
  border-color: black;
  border-style: solid;

}

.update-button:hover{
  cursor: pointer;
  color: black;
  border-style: none;
}
.update-button-text{
  font-size: 2vh;
  line-height: 3vh;
  text-transform: none;
}
.update-button-section{
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
