.about-title{
  font-size: 2vh;
  padding-top: 15px;
}

.about-description{
  font-size: 1.5vh;
}

.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.sidebar{

}

.sidebar-content{
}

.sidebar-page{
  height: 100%;
  padding: 5vw;
  overflow-y: scroll;
}

.sidebar-drawer-container{
   display: flex;
   flex-direction: column;

}

.sidebar-header-element{
  padding: 10px;
  margin: 10px;
  font-color: white;
  border-radius: 5px;
}

.list-page{
  height: 100%;
  padding: 2vw;
  overflow-y: scroll;
}

.header-color{
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  padding: 5vw;
  overflow-y: scroll;
}

.home-content{
  text-align: center;
}

.home-title {
	display: inline;
	position: relative;
	font: 10vw Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

.home-title:after {
	content: "#discover!";
	position: absolute; left: .5vw; top: .5vw;
	color: rgba(255,0,0,0.5);
}

.home-description{

}

.search-title{
  font-size: 1.5vh;
  color: gray;
}

.update-title {
	display: inline;
	position: relative;
	font: 10vw Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

.update-title:after {
	content: "#home!";
	position: absolute; left: .5vw; top: .5vw;
	color: rgba(255,0,0,0.5);
}

.update-content{
  text-align: center;
}

.select-title {
	display: inline;
	position: relative;
	font: 10vw Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

.select-title:after {
	content: "#category!";
	position: absolute; left: .5vw; top: .5vw;
	color: rgba(255,0,0,0.5);
}

.select-content{
  text-align: center;
}

.select-facility{
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 3vw;
}

.select-category-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: pink;
}

.select-subtitle{

}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 2vw;
  width: 21vh;
  height: 21vh;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.list-content{
  text-align: center;
}

.list-container{
  font-size: 1.3vh;
}

.list-title {
	display: inline;
	position: relative;
	font: 10vw Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

.list-title:after {
	content: "#nearby!";
	position: absolute; left: .5vw; top: .5vw;
	color: rgba(255,0,0,0.5);
}

.facility-content{
  text-align: center;
}

.facility-title {
	display: inline;
	position: relative;
	font: 10vw Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

.facility-title:after {
	content: "#details!";
	position: absolute; left: .5vw; top: .5vw;
	color: rgba(255,0,0,0.5);
}
